{% extends "base.html" %}

{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">ICUCC Organisation Tool</h1>
              <p class="lead text-muted pt-2">
              Here we've collated some tools which will be helpful in the running of the Imperial College Union Cricket Club. If you think there are any mistakes or other issues with the data on there, then contact the developer <a href="https://github.com/RajatRasal">Rajat Rasal</a> or any other maintainers.
              </p>
              <div class="row justify-content-center pt-3">
                <div class="col-sm-auto">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">~Expected Income from Nets</h5>
                      <p class="card-text"><h3>£{{ expected }}</h3></p>
                    </div>
                  </div>
              </div>
              <div class="col-sm-auto">
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">Actual Income from Nets</h5>
                    <p class="card-text"><h3>£{{ actual }}</h3></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
{% endblock %}
