{% extends "base.html" %}

{% block content %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Netlists</h1>
            <ul class="list-group list-group-horizontal mr-2">
              <li class="p-2 list-group-item">Key:</li>
              <li class="p-2 list-group-item list-group-item-danger">Non-Member</li>
              <li class="p-2 list-group-item list-group-item-warning">Member</li>
              <li class="p-2 list-group-item">Paid</li>
            </ul>
          </div>
          {% for netlist in netlists %}
          <div class="pb-2">
            <h4>
              <a class="btn btn-block text-left btn-light" data-toggle="collapse" href="#netlist-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="netlist-{{ loop.index }}">
                {{ netlist.date }}
              </a>
            </h4>
            <div class="collapse" id="netlist-{{ loop.index }}">
              <ul class="list-group pb-2">
              {% for player in netlist.players %}
                {% if player.paid is none %}
                <li class="list-group-item list-group-item-danger">{{ loop.index }}. {{ player.cid }}</li>
                {% elif not player.paid %}
                <li class="list-group-item list-group-item-warning">{{ loop.index }}. {{ player.cid }}</li>
                {% else %}
                <li class="list-group-item">{{ loop.index }}. {{ player.cid }}</li>
                {% endif %}
              {% endfor %}
            </ul>
            </div>
          </div>
          {% endfor %}
        </main>
{% endblock %}
